<div class="mycontainer">
  <div class="wrap" *ngIf="user; else loading">

    <div class="header">

      <div class="header-text">
        <h2 class="header-text_title">{{user.fio}}</h2>
        <p class="header-text_description">{{user.email}}</p>
        <p class="header-info_date">Пользователь на сайте: {{daysPassed+' '+daysStr}}</p>
        <p class="header-text_phone" *ngIf="user.phone">Телефон: {{user.phone}}</p>
      </div>

      <div class="header-info">
        <div class="header-info-director">
          <img src="{{user.avatar}}" id="director_avatar">
        </div>

      </div>

    </div>



  </div>
  <ng-template #loading>Идёт загрузка...</ng-template>
</div>
