<div class="wrap">
  <div>
    <h1>Сервис для автоматизации процесса управления проектами</h1>
  </div>
  <div>
    <div class="card-row">
      <div class="card">
        <div>
          <h2>Повышайте продуктивность работы команды</h2>
          <div class="card-text">Использование сервиса для управления проектами поможет вашим сотрудникам повышать продуктивность и поддерживать взаимодействие с коллегами.</div>
        </div>
        <img src="./assets/img/command%20work.jpg" alt="" class="card-img">
      </div>
      <div class="card">
        <div>
          <h2>Улучшайте взаимодействие внутри команды</h2>
          <div class="card-text">Предоставьте командам возможность организации совместной работы между отделами и эффективную автоматизацию процессов.</div>
        </div>
        <img src="./assets/img/relationships%20command.jpg" alt="" class="card-img">
      </div>
    </div>
    <div class="card-row">
      <div class="card">
        <div>
          <h2>Работайте со всеми отделами вашей организации в режиме реального времени</h2>
          <div class="card-text">Самое главное – информацией можно поделиться со всеми участниками в любое время.</div>
        </div>
        <img src="./assets/img/data%20transfer.png" alt="" class="card-img">
      </div>
      <div class="card">
        <div>
          <h2>Достигайте высоких результатов</h2>
          <div class="card-text">Повышайте продуктивность и эффективность работы команды на всех уровнях по всем задачам и проектам.</div>
        </div>
        <img src="./assets/img/high%20result.jpg" alt="" class="card-img">
      </div>
    </div>
  </div>
</div>
