.wrap {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 20px 20px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: column;
}
.options-wrap {
  margin: 10px 0;
}
.options label {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-right: 10px;
}
.options input {
  background: rgba(196, 196, 196, 0.27);
  border-radius: 15px;
  border: none;
  height: 40px;
  padding: 5px 10px;
  width: 50px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.options input::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}
.options input:focus {
  outline: none;
}

.matrix {
  margin: 10px 10px;
}
.matrix-criteria {
  width: 200px;
  height: 30px;
  margin-right: 10px;
  border-radius: 15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 10px;
}
.matrix-criteria-wrap {
  margin-left: 240px;
}
.matrix-criteria:focus {
  outline: none;
}
.matrix-priority {
  width: 200px;
  height: 30px;
  margin: 10px 0;
  margin-right: 10px;
  border-radius: 15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 10px;
}
.matrix-priority-wrap {
  margin-left: 240px;
}
.matrix-priority:focus {
  outline: none;
}
.matrix-direction {
  width: 200px;
  height: 30px;
  margin: 10px 0;
  margin-right: 10px;
  border-radius: 15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 10px;
}
.matrix-direction:focus {
  outline: none;
}
.matrix-rows {
  margin: 0 20px;
  border-radius: 15px;
  height: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 10px;
  width: 200px;
}
.matrix-rows:focus {
  outline: none;
}
.matrix-data {
  background: rgba(196, 196, 196, 0.27);
  border-radius: 15px;
  border: none;
  height: 40px;
  padding: 5px 10px;
  width: 100px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin: 5px 53px;
}
.matrix-data::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}
.matrix-data:focus {
  outline: none;
}

.form-button {
  width: 250px;
  height: 38px;
  background: var(--button-color);
  border-radius: 25px;
  border: none;
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.form-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.form-button.invalid {
  opacity: 0.2;
  cursor: default;
  background: red;
}

.invalid-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.green {
  background: greenyellow;
}

.answer {
  display: flex;
  width: 1000px;
}
.answer h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

table {
  width: 76vw;
  border-collapse: collapse;
}

tbody {
  width: 76vw;
}

thead {
  width: 76vw;
}

.table {
  width: 76vw;
  margin-top: 40px;
}

th {
  width: 76vw;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-top: none;
}
th:first-child {
  border-left: none;
  border-top: none;
}
th:last-child {
  border-right: none;
}

tr {
  width: 76vw;
  word-break: break-all;
}

td {
  word-break: break-all;
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.32);
  border-bottom: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
td:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0);
}
td:last-child {
  border-right: none;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .table-responsive-md > .table-bordered {
    border: 0;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive > .table-bordered {
  border: 0;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table .table {
  background-color: #fff;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.task-name:hover {
  cursor: pointer;
  background-color: var(--button-color);
}

/*# sourceMappingURL=optimization-page.component.css.map */
