.wrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.task {
  background: #FFFFFF;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 20px 20px;
  margin: 0 10px;
  width: 50vw;
  &-header {
    display: flex;
    justify-content: space-between;
    h2 {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
    }
    &_button {
      width: 250px;
      height: 38px;
      background: var(--button-color);
      border-radius: 25px;
      border: none;
      color: #FFFFFF;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
  p {
    margin: 10px 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }
  &-executor {
    display: flex;
    align-items: center;
    margin: 10px 0;
    p {
      margin-right: 10px;
    }
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-right: 10px;
      &:hover {
        cursor: pointer;
        border: 1px solid var(--button-color);
      }
    }
    &_fio {
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}

.form {
  &-control {
    &.invalid {
      select {
        border-color: red;
      }
    }
  }
  &-label {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }
  select {
    height: 30px;
    width: 150px;
    margin-left: 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    border: 1px solid var(--button-color);
    border-radius: 10px;
    &:focus {
      outline: none;
    }
   }
  &-button {
    margin-top: 10px;
    width: 250px;
    height: 38px;
    background: var(--button-color);
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &.invalid {
      opacity: 1;
      cursor: default;
    }
  }
}
