<div class="wrap">
  <div class="nav">
    <h2>Управление проектами</h2>
    <ul>
      <li class="nav-item open" routerLink="/user/projects">
        <img src="./assets/img/icons/project.png">
        <a >Проекты</a>
      </li>
      <li class="nav-item">
        <img src="./assets/img/icons/tasks.png">
        <a >Мои задачи</a>
      </li>
      <li class="nav-item">
        <img src="./assets/img/icons/diagram.png">
        <a >Диаграмма ганта</a>
      </li>
      <li class="nav-item">
        <img src="./assets/img/icons/optimization.png">
        <a >Оптимизация</a>
      </li>
    </ul>

  </div>

  <div class="div">
    <div class="user-panel">
      <div class="input-wrap">
        <input type="text" placeholder="Поиск" [(ngModel)]="searchStr">
      </div>
      <div class="content-wrap">
        <a (click)="openSettings = !openSettings" >Мой аккаунт</a>
        <div *ngIf="openSettings" class="settings-menu">
            <ul>
              <li class="settings-menu_item">Редактирование</li>
              <li class="settings-menu_item" (click)="logout()">Выйти</li>
            </ul>
        </div>
        <img *ngIf="user"  src="{{user.avatar}}" class="avatar">
      </div>
    </div>
    <div class="user-components">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
