@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --button-color: #4A5BF4;
  --backround-color: #F9F7F7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--backround-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
