<div class="mycontainer">
  <div class="wrap" *ngIf="project">

    <div class="header">

      <div class="header-text">
        <h2 class="header-text_title">{{project.name}}</h2>
        <p class="header-text_description">{{project.description}}</p>
      </div>

      <div class="header-info">
        <div class="header-info-director">
          <label for="director_avatar">Директор проекта:</label>
          <img src="{{project.owner_avatar}}" [routerLink]="['/user', 'account', 'get', project.owner_id]" id="director_avatar">
        </div>
        <p class="header-info_date">Дата создания: {{project.created_at | date: 'longDate': null: 'ru'}}</p>
      </div>

    </div>

    <div class="additive" *ngIf="project.role != 'Пользователь'">

      <div class="add" *ngIf="project.role === 'Менеджер' || project.role === 'Директор'" [routerLink]="['create', 'task']">
        <img src="assets/img/plus.png" alt="">
        <p>Добавить задание</p>
      </div>
      <div class="add" *ngIf="project.role === 'Директор'" (click)="toggleFormAddUser()">
        <img src="assets/img/plus.png" alt="">
        <p>Добавить участника</p>
      </div>

    </div>

    <form [formGroup]="formAddUser" *ngIf="openFormAddUser" class="form" (ngSubmit)="addUser()">

      <div class="form-control"
           [ngClass]="{invalid: formAddUser.get('email').touched && formAddUser.get('email').invalid}"
      >
        <input type="text" formControlName="email" placeholder="Введите email">
        <div class="validation"
             *ngIf="formAddUser.get('email').touched && formAddUser.get('email').invalid"
        >
          <small
            *ngIf="formAddUser.get('email').errors.required"
          >Поле не может быть пустым</small>
          <small
            *ngIf="formAddUser.get('email').errors.email"
          >Введён некорректный email</small>
          <small
            *ngIf="formAddUser.get('email').errors.uniqEmail"
          >Пользователя с таким email не существует</small>
          <small
            *ngIf="formAddUser.get('email').errors.alreadyExistEmail"
          >Пользователь с таким email уже участвует в проекте</small>
        </div>
      </div>

      <div class="form-control">
        <select formControlName="role">
          <option value="1">Менеджер</option>
          <option value="2">Пользователь</option>
        </select>
      </div>

      <button
        type="submit"
        [ngClass]="{invalid: formAddUser.invalid || submitted}"
        [disabled]="formAddUser.invalid || submitted"
      >Добавить
      </button>
    </form>


    <div *ngIf="tasks$ | async as tasks" class="table-responsive">
      <table class="table table-bordered">
            <thead>
              <tr>
                <th>Название</th>
                <th>Начало работы</th>
                <th>Конец работы</th>
                <th>Исполнитель</th>
                <th>Статус</th>
              </tr>
            </thead>

            <tbody>
                <tr *ngFor="let task of tasks | searchTasks:searchStr">
                  <td
                    [ngClass]="{
                    important: task.priority === 'Важно',
                    'never-mind': task.priority === 'Неважно'
                    }"
                    class="task-name"
                    [routerLink]="['/user', 'task', task.id]"
                  >{{task.name}}</td>
                  <td>{{task.start_date | date:'d MMM , y, HH:mm:ss':null:'ru'}}</td>
                  <td>{{task.end_date | date:'d MMM , y, HH:mm:ss':null:'ru'}}</td>
                  <td>{{task.executor}}</td>
                  <td
                    [ngClass]="{
                    pending: task.status === 'В ожидании',
                    process: task.status === 'В процессе',
                    done: task.status === 'Готово'
                    }"
                  >{{task.status}}</td>
                </tr>
            </tbody>
      </table>
    </div>
  </div>
</div>

